body{
    background-color:   aliceblue ;
    font-family: 'Zilla Slab', serif;
    display: flex;
    flex-direction: row;
}


#img_header{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid;
    margin-left: 20px;
    
}

nav{

    background-color: rgba(6, 77, 73, 0.527) ;
    width: 20%;
    height: 100%;
    padding: 70px 10px;
    position: fixed;
    z-index: 1;
    
}


nav ul{
    list-style: none;
    padding-top: 40px;
}


main{
    margin-left: 260px; 
    padding: 20px; 
}


.listabar{
    padding: 10px 5px;
    cursor: pointer;
    color: black;
    font-size: 25px;
}

.listabar:hover{
    color: aliceblue;
}


.Claudia{
    margin-top: 20px;
    margin-left: 10px;
    padding: 70px 20px
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 209, 245, 0.39);
    border-radius:20px;
    margin: 0 100px;
    border: solid;
    
}

.namee{
    color:  rgba(6, 77, 73, 0.527) ;
    font-size: 90px;
}

.apellido{
    padding-left: 30px;
    color: rgba(214, 13, 13, 0.514);
    font-size: 90px;
}

.iconss{
    width: 40px;
    margin: 10px 5px 10px 20px;
    cursor: pointer;
    transition:  box-shadow 0.3s ease;
    border-radius: 20px;
}

.iconss:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3) ;
    background-color:  rgb(211, 214, 13);
    
}


button{
    cursor: pointer;
    transition:  box-shadow 0.3s ease;
}

button:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3) ;
}

.CV{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center ;
    margin-left: 170px;
    margin-top: 30px;
}

.Cv_1{
    padding-bottom: 20px;
    font-size: 20px;
}

h5{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

a{
    text-decoration: none;
}

.iconss{
    margin-left: 30px;
    margin-top: 40px;
}

#icon_1_nom{
    margin-left: 170px;
}

/* sobre mi */

.sobre_mi{
    margin: 150px 50px;

}

#sobre_mii{
    margin-bottom: 200px;
}

#enfoque{
    color: rgba(6, 77, 73, 0.527) ;
    font-size: 25px;
    margin: 30px 0;
}

/* portafolio */



.section1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    
    
}


.contenedor_P{
    background-color:rgba(6, 77, 73, 0.527) ;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    transition:  box-shadow 0.3s ease;
}

.contenedor_P:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3) ;
}

.tex_conte{
    color: aliceblue;
    text-align: center;
    margin: 20px;
}

#img1{
    width: 100%;
}

#img2{
    width: 100%;
}

.herramientas{
    width: 50px;
    margin-left: 20px;
}

.herramientas2{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#img3{
    width: 100%;
}

#img4{
    width: 100%;
    
}

.herramientas4{
    width: 50px;
}

h1{
    color: rgba(214, 13, 13, 0.514);
    font-size: 65px;
    text-align: center;
}

.titulopor{
    margin: 30px 10px;
}

.herramientas5{
    width: 80px;
}

.skills{
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icom_Amarillo{
    width: 50px;
}

#ama_con_1{
    margin-right: 10px;
}
 
#ama_con_2{

    margin-left: 5px;
}

#ama_con_3{
    margin-right: 70px;
}

#contacto{
    display: flex;
    flex-direction: column;
}

.cont_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   
}

.parrafoi{
    margin: 30px 10px;
}

.laboral{
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}


@media screen and (max-width: 767px) {
    .namee, .apellido {
        font-size: 30px;
    }
    .iconss {
        width: 20px;
    }
    button {
        margin: 5px 0;
    }
    h1, .titulopor, .parrafoi {
        font-size: 25px;
    }

}